@import "../../constants/colors.scss";

.members {
  padding: 40px 0;

  .items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    .wrapper {
      width: 220px;
      height: 200px;
      margin-top: 10px;

      @media (max-width: 378px) {
        width: 90%;
        height: calc((100vw - 20px) * 0.9);
      }

      .member {
        width: 90%;
        height: 90%;
        margin: 0 auto;
        background-color: $grey;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        cursor: pointer;
        position: relative;

        .btn {
          position: absolute;
          width: 34px;
          height: 34px;
          border-radius: 4px;
          background-color: $blue;
          display: grid;
          place-items: center;
        }

        .left-icon-button {
          left: -17px;
          opacity: 0.5;
        }

        .right-icon-button {
          right: -17px;

          svg {
            transform: rotate(180deg);
          }
        }

        img {
          width: 80%;
          height: 80%;
          object-fit: contain;
        }

        p {
          font-size: 12px;
          font-family: "GilroyRegular";
          color: white;
          text-align: center;
          text-transform: capitalize;
          margin-bottom: 10px;

          @media (max-width: 378px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
